<footer>
    <div class="container-copy">
        <img src="/images/copyrigth.svg" alt="imagen del copy right">
        <p>Todos los derechos reservados</p>
    </div>
    
    
    <div class="container-social-network">
        <div class="container-main">
            <p>Términos de Servicio</p>
            <p>Privacidad</p>
        </div>
        <img src="/images/facebook.svg" alt="imagen del logo de Facebook">
        <img src="/images/insta.svg" alt="imagen del logo de Instagram">
    </div>
</footer>
