<app-header></app-header>
<main>
    <div class="info">
        <h1>Administración de Empleados</h1>
        <p>Gestiona la información de los empleados de tu empresa</p>
    </div>

    <div class="stats">
        <article>
            <h4>Total empleados</h4>
            <img src="" alt="">
            <h3>6</h3>
            <p>Empleados activos en la empresa</p>
        </article>

        <article>
            <h4>Departamentos</h4>
            <img src="" alt="">
            <h3>5</h3>
            <p>Areas de la organización</p>
        </article>

        <article>
            <h4>Departamento principal</h4>
            <img src="" alt="">
            <h3>Ventas</h3>
            <p>Departamento con más empleados</p>
        </article>

        <article>
            <h4>Nuevos empleados</h4>
            <img src="s" alt="">
            <h3>+3</h3>
            <p>Incorporados este mes</p>
        </article>

    </div>

    <div class="management-employee">
        <input type="text" placeholder="Buscar empleados..." class="input-bg">
        <!-- <input type="" value="Filtros" > -->

        <button (click)="showModal = true">
            <img src="/images/add-friend.svg" alt="" width="20px" height="20px">
            <span>Agregar Empleado</span> 
        </button>
    </div>

    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <h1>Agregar Nuevo Empleado</h1>
          <form [formGroup]="crearEmpleadoForm" (ngSubmit)="addEmployee()" novalidate>
            
            <div class="form1">
                <label for="cedula">Cedula: </label><br>
                <input type="text" formControlName="cedula">
            </div>
            <div class="form1">
                <label for="name">Nombre:</label>
                <label for="last-name">Apellido:</label><br>
                <input type="text" id="name" formControlName="nombre">
                <input type="text" id="last-name" formControlName="apellido">
            </div>
            
            <div class="form1">
                <label for="">Email</label>
                <label for="">Telefono</label><br>
                <input type="email" formControlName="email">
                <input type="tel" formControlName="telefono">
            </div>

            <div class="form1">
                <label for="">Departamento</label>
                <label for="">Cargo</label> <br>
                <select formControlName="departamento">
                    <option value="" disabled selected>Seleccione un departamento</option>
                    <option>COCINA</option>
                    <option>SERVICIO_AL_CLIENTE</option>
                    <option>CAJA</option>
                    <option>COMPRAS_Y_ALMACEN</option>
                    <option>LIMPIEZA_Y_MANTENIMIENTO</option>
                    <option>ADMINISTRACION_Y_FINANZAS</option>
                    <option>MARKETING_Y_VENTAS</option>
                    <option>RECURSOS_HUMANOS</option>
                </select>
                <select formControlName="cargo">
                    <option value="" disabled selected>Seleccione un cargo</option>
                    <option>ADMINISTRADOR</option>
                    <option>EMPLEADO</option>
                </select>
            </div>
            
            <div class="form1">
                <label for="">Fecha de Contratación </label>
                <label for="">Valor hora</label><br>
                <input type="datetime-local" formControlName="fechaContratacion">
                <input type="number" formControlName="precioHora">
            </div>
            
            <div class="container-buttons">
                <button type="button" (click)="cleanFields()">Cancelar</button>
                <button class="add-employee" type="submit" [disabled]="crearEmpleadoForm.invalid"> Agregar Empleado</button>
            </div>
          </form>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-header">Empleado</div>
        <div class="grid-header">Departamento</div>
        <div class="grid-header">Cargo</div>
        <div class="grid-header">Contacto</div>
        <div class="grid-header">Acciones</div>
        
        @for (item of empleados; track $index) {
            <div class="grid-item">{{item.nombre}}</div>
            <div class="grid-item">{{item.departamento}}</div>
            <div class="grid-item">{{item.cargo}}</div>
            <div class="grid-item">{{item.email}}</div>
            <div class="grid-item">
                <img src="/images/options.svg" alt="icono de opciones" (click)="openOptions($event, item.email); $event.stopPropagation()" width="20px" height="20px">
                <app-options 
                    *ngIf="selectedEmployee === item.email"
                    [isOpen]="isOptionsOpen" 
                    [position]="optionsPosition" 
                    [idEmpleado]="item.id"
                    (closeModalEvent)="selectedEmployee = null; isOptionsOpen = false"
                ></app-options>
            </div>
        }
        
    </div>    
</main>
    
<app-footer></app-footer>

