<app-header></app-header>
<main>
    <div class="info">
        <h1>Administración de Empleados</h1>
        <p>Gestiona la información de los empleados de tu empresa</p>
    </div>

    <div class="stats">
        <article>
            <h2>Total empleados</h2>
            <img src="" alt="">
            <h1>6</h1>
            <p>Empleados activos en la empresa</p>
        </article>

        <article>
            <h2>Departamentos</h2>
            <img src="" alt="">
            <h1>5</h1>
            <p>Areas de la organización</p>
        </article>

        <article>
            <h2>Departamento principal</h2>
            <img src="" alt="">
            <h1>Ventas</h1>
            <p>Departamento con más empleados</p>
        </article>

        <article>
            <h2>Nuevos empleados</h2>
            <img src="s" alt="">
            <h1>+3</h1>
            <p>Incorporados este mes</p>
        </article>

    </div>

    <div class="management-employee">
        <input type="text" placeholder="Buscar empleados..." class="input-bg">
        <!-- <input type="" value="Filtros" > -->

        <button (click)="showModal = true">
            <img src="/images/add-friend.svg" alt="" width="20px" height="20px">
            Agregar Empleado
        </button>
    </div>

    <div class="modal" *ngIf="showModal">
        <div class="modal-content">
          <h1>Agregar Nuevo Empleado</h1>
          <form [formGroup]="crearEmpleadoForm" (ngSubmit)="addEmployee()" novalidate>
            
            <div>
                <label for="cedula">Cedula</label>
                <input type="text" formControlName="cedula">
            </div>
            <div class="form1">
                <label for="name">Nombre:</label>
                <label for="last-name">Apellido:</label><br>
                <input type="text" id="name" formControlName="nombre">
                <input type="text" id="last-name" formControlName="apellido">
            </div>
            
            <div class="form1">
                <label for="">Email</label>
                <label for="">Telefono</label><br>
                <input type="email" formControlName="email">
                <input type="tel" formControlName="telefono">
            </div>

            <div class="form1">
                <label for="">Departamento</label>
                <label for="">Cargo</label> <br>
                <input type="text" formControlName="departamento">
                <input type="text" formControlName="cargo">
            </div>
            
            <div class="form1">
                <label for="">Fecha de Contratación </label> <br>
                <input type="datetime-local" formControlName="fechaContratacion">
            </div>
            
            <div class="container-buttons">
                <button type="button" (click)="cleanFields()">Cancelar</button>
                <button class="add-employee" type="submit" [disabled]="crearEmpleadoForm.invalid"> Agregar Empleado</button>
            </div>
          </form>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-header">Empleado</div>
        <div class="grid-header">Departamento</div>
        <div class="grid-header">Cargo</div>
        <div class="grid-header">Contacto</div>
        <div class="grid-header">Acciones</div>
        
        @for (item of empleados; track $index) {
            <div class="grid-item">{{item.nombre}}</div>
            <div class="grid-item">{{item.departamento}}</div>
            <div class="grid-item">{{item.cargo}}</div>
            <div class="grid-item">{{item.email}}</div>
            <div class="grid-item">
                <img src="/images/options.svg" alt="icono de opciones" (click)="openOptions($event)" id="item.email">
                <app-options 
                    *ngIf="isOptionsOpen"
                    [isOpen]="isOptionsOpen" 
                    [position]="optionsPosition" 
                    [idEmpleado]="item.email"
                    (closeModalEvent)="isOptionsOpen = false; "
                ></app-options>
            </div>
        }
        
      </div>    
</main>
    
<app-footer></app-footer>

