<app-header-cliente></app-header-cliente>
<main>
    <h3>Mis Horarios</h3>
    <p>Consulta tus horarios asignados y próximas actividades</p>

    <div class="info-container">
        <div class="info-item">
            <p>Esta semana</p>
            <h4>4 Turnos</h4>
        </div>
        <div class="info-item">
            <p>Horas totales</p>
            <h4>15 Horas</h4>
        </div>
        <div class="info-item">
            <div class="calendar-container">
                <img src="/images/calendar.svg" alt="" width="35" height="35" />
            </div>
            <p>Total asignaciones</p>
            <h4>4</h4>
        </div>
    </div>

    <div class="main-container">
        <div class="schedule-container">
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>

        <div class="detalle-evento">
            @if(!this.verDetalleEvento){
                <div class="detalle-evento-info">
                    <img src="/images/clock.svg" alt="" width="50" height="50" />
                    <p>Selecciona un horario para ver detalles</p>
                </div>
            }@else {
                <div class="detalle-evento-info">
                    <span class="cerrar" (click)="cerrarModal()">×</span>
                    <p>Detalles del Horario</p>
                    <hr>
                     
                    <div class="item-detalle">
                        <img src="/images/calendar.svg" alt="" width="25" height="25" />
                        <p>Fecha</p>
                        <span>{{eventoSeleccionado?.fechaTurno}}</span>
                    </div>

                    <div class="item-detalle">
                        <img src="/images/clock.svg" alt="" width="25" height="25" />
                        <p>Horario</p>
                        <span>{{eventoSeleccionado?.horaEntrada}} - {{eventoSeleccionado?.horaSalida}}</span>
                    </div>

                    <div class="item-detalle">
                        <img src="/images/ubication.svg" alt="" width="25" height="25" />
                        <p>Ubicación</p>
                        <span>{{eventoSeleccionado?.sede}}</span>
                    </div>

                </div>
            }
        </div>
    </div>
</main>
