* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 30px;
}

main .info-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-bottom: 20px;
    margin-top: 20px;

    
}

main .info-container .info-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 0 5rem; */
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

main h3 {
    font-weight: bold;
}

main > p {
    color: var(--secondary-color);
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* overflow: hidden; */
    
}

.info-container .info-item p{
    color: var(--secondary-color);
}

.info-container .info-item h4{
    font-weight: bold;
}

.info-item {
    margin: 0;
}

.schedule-container {
    width: 75%;
}

.schedule-container full-calendar:hover {
    cursor: pointer;
}

.main-container .detalle-evento {
    width: 20%;
    height: 50%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: sticky;
    top: 0;
}

.calendar-container {
    display: inline-block; 
    background-color: rgba(225, 218, 116, 0.56);
    border-radius: 50%;
    width: 50px;
    padding: 10px;
}

.calendar-container img {
    display: block; 
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* padding: 10px; */
}

.calendar-container-blue{
    display: inline-block; 
    background-color: #444fcacb;
    border-radius: 50%;
    width: 50px;
    padding: 10px;
}
.calendar-container-blue img {
    display: block; 
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* padding: 10px; */
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.cerrar:hover {
    color: red;
}


.detalle-evento-info {
    position: relative;
}

.btn-solicitar-cambio{
    padding: 10px 40px;
    border-radius: 10px;
    display: flex;
    border: 1px solid #ccc;
    background-color: transparent;

    display: block;
    margin: 0 auto;
    margin-top: 10px;
    transition: background-color 0.3s ease;

}

.btn-solicitar-cambio:hover{
    cursor: pointer;
    background-color: var(--primary-color-button);
    color: white;
}