<div class="container-main">
    <div class="container-second">

        <img src="/images/schedule-pro.svg" alt="icono de calendario" width="100px" height="100px">
        <h1>Schedule Pro</h1>
        <p>Inicia sesión para acceder al sistema de administración</p>
    
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <label for="">Correo electronico</label>
            <input type="email" placeholder="correo@empresa.com" formControlName="email">
            <div class="password">
                <label for="">Contraseña</label>
                <a href="#">
                    <p>¿Olvidaste tu contraseña?</p>
                </a>
            </div>
            <input type="password" placeholder="······" formControlName="password">
    
            <!-- <input type="checkbox" id="recordar" class="recordar">
            <label for="recordar">Recordar contraseña</label> -->
    
            <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    
            <p>---------------------------------------------------------o continúa con----------------------------------------------</p>
    
            <button type="button">Google</button>
            <button type="button">Microsoft</button>
    
            <p>¿No tienes una cuenta? <span>Contacta a tu administrador</span></p>
        </form>

        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate" [fullScreen] = "true">
            <p style="color: white" > Loading... </p>
        </ngx-spinner>
      
    </div>
</div>
