<div class="container-main">
    <div class="container-second">

        <img src="/images/schedule-pro.svg" alt="icono de calendario" width="100px" height="100px">
        <h1>Bienvenido</h1>
        <p>Inicia sesión para acceder al sistema de administración</p>
    
        <form action="">
            <label for="">Correo electronico</label>
            <input type="email" placeholder="correo@empresa.com">
            <div class="password">
                <label for="">Contraseña</label>
                <a href="#">
                    <p>¿Olvidaste tu contraseña?</p>
                </a>
            </div>
            <input type="password" placeholder="······">
    
            <!-- <input type="checkbox" id="recordar" class="recordar">
            <label for="recordar">Recordar contraseña</label> -->
    
            <button>Iniciar sesión</button>
    
            <p>---------------------------------------------------------o continúa con----------------------------------------------</p>
    
            <button>Google</button>
            <button>Microsoft</button>
    
            <p>¿No tienes una cuenta? <span>Contacta a tu administrador</span></p>
        </form>
    </div>
</div>
