.container-main{
    display: flex;
    width: 70%;
    height: 100dvh;
    flex-direction: column;
    margin: 0 auto;

    /* border: 1px solid black; */
}
.container-second {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.container-second img {
    margin-top: 50px;
}

.container-second h1 {
    margin: 10px 0px;
    font-size: 2.5rem;
}
.container-second > p {
    color: #7f7f7f;
    margin: 10px 0px;
    font-size: 1.3rem;
}

.container-second form {
    /* display: flex; */
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    /* padding-left: 70px; */
}
.container-second form label {
    display: block;
    font-size: 1.1rem;
    margin: 10px 0px;
    /* text-align: center; */
}
.container-second form input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    font-size: 17px;
    
}

.container-second form .recordar {
    margin: 0;
    width: 10%;
    display: inline;
}

.container-second form label:nth-of-type(2) {
    background-color: red;
}
.container-second form button {
    width: 50%;
    height: 40px;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    background-color: var(--primary-color-button);
    color: white;
    background-color: #18181B;
    transition: background-color 0.5s ease;
    font-size: 1rem;
    font-weight: bold; 
}

.container-second form button:hover {
    cursor: pointer; 
    background-color: #3a3838; 
}
.container-second form button:disabled {
    background-color: #7f7f7f;
    cursor: not-allowed;
    opacity: 0.7;
}

.container-second form button:first-of-type{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 25px;
}


.container-second form a {
    color: #7f7f7f;
}
.container-second form p {
    text-align: center;
}
.container-second form p > span {
    color: #18181B;
    font-weight: bold;
}

.container-second form p > span:hover {
    color: #3a3838;
    cursor: pointer;
}
.password {
    display: flex;
    justify-content: space-between;
}

.password p {
    color: #18181B;
}



