<div>
    <img src="" alt="">
    <h1>Bienvenido</h1>
    <p>Inicia sesión para acceder al sistema de administración</p>

    <form action="">
        <label for="">Correo electronico</label>
        <input type="email" placeholder="correo@empresa.com">

        <label for="">Contraseña</label>
        <p>¿Olvidaste tu contraseña?</p>
        <input type="password" placeholder="······">

        <input type="checkbox" value="Recordar sesión">

        <button>Iniciar sesión</button>

        <p>o continúa con</p>

        <button>Google</button>
        <button>Microsoft</button>

        <p>¿No tienes una cuenta? <span>Contacta a tu administrador</span></p>
    </form>
</div>
