header {
    /* background-color: #E6E6E6; */
    font-family: 'Roboto';
    padding: 20px;
    border-bottom: 1px solid #c7c7cc;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.container-icon {
    /* display: flex; */
    /* margin-left: 12px; */
    
}
.container-icon img {
    /* display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px; */
}

.container-icon img:hover {
    cursor: pointer;
}

.container-icon h2 {
    /* margin-top: -15px; */
    font-size: 25px;
    font-weight: bold;
}

.container-icon h2 span {
    color: #444444
}

.container-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.container-items ul{
    display: flex;
    /* align-items: center; */

}

.container-items ul li {
    /* justify-content: space-between; */
    margin: 0 15px;
    list-style: none;
    
    font-weight: 400;
    text-decoration: none;
    
    
    
}

.container-items ul li button{
    /* background-color: #5D47C9; */

    border: none;
    border-radius: 5px;
    padding: 2px 16px;
}
.container-items ul li a{
    text-decoration: none;
    color: #2E2935;
    /* color: #000; */
}

.container-items ul li a:hover{
    /* text-decoration: underline; */
    cursor: pointer;
    color: #aaaaaa;
    /* scale: 1.1; */
}

.active {
    color: #aaaaaa !important;
    /* font-weight: 600; */
}