<header>
    <nav>
        <div class="container-icon">
            <!-- <img src="/images/calendario.png" alt=""> -->
            <h2>Schedule<span> Pro</span></h2>
        </div>
        <div class="container-items">
            <ul>
                <li>Dashboard</li>
                <li>Horarios</li>
                <li>Reportes</li>
                <li>Configuración</li>
                <!-- <li>
                    <a>
                        <img src="/images/dark_mode.svg" alt="">
                    </a>
                </li> -->
                <li>
                    <a routerLink="/login" (click)="logout()" >
                        <img src="/images/logout.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        
        
    </nav>

</header>
