/* You can add global styles to this file, and also import other style files */

:root {

    --primary-color-button: #18181B;
    --secondary-color: #6c757d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::ng-deep .no-padding-modal .mat-mdc-dialog-surface {
    padding: 0 !important;
    background: transparent !important; 
    box-shadow: none !important; 
    border-radius: 0 !important; 
}

/* También ajustamos el contenedor interno */
    ::ng-deep .no-padding-modal .mat-mdc-dialog-inner-container {
    padding: 0 !important;
}